// Variables
$primary-brand-cl: #1363DF;
$primary-cl: #172026;
$secondary-cl: #ffffff;
$primary-font-family: 'Muli';
$secondary-font-family: "Source Serif 4", serif;
$primary-border-cl: #B5B7BC;


$font-sizes: (
    "xx-small" : 11px,
    "x-small": 12px,
    "small": 13px,
    "regular": 14px,
    "medium": 16px,
    "large": 22px,
    "x-large": 30px,
    "xx-large":32px
);

/*font weights*/
$font-weights: (
    "light" : 300,
    "regular" : 400,
    "medium": 500,
    "bold": 700
);