@import '_variable.scss';
@import '_mixins.scss';
@import '_functions.scss';

*{
    box-sizing: border-box;
}

body {
    font-family: $primary-font-family;
    font-size: size(regular);
    color: $primary-cl;
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}
#hamburger-menu{
    display: none;
}
.prod-navbar {
    background-color: $primary-brand-cl;
    color: $secondary-cl;

    &-logo {
        a {
            color: $secondary-cl;
            text-decoration: none;
            font-size: size(large) + 2;
        }
    }

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
    }

    &-menu {
        @include textCenterAlign;
        order: 2;

        ul {
            @include ulRemoveStyle;
            @include textCenterAlign;
        }

        li {
            padding: 0 25px;
            @include textCenterAlign;

            .prod-link {
                color: $secondary-cl;
                text-decoration: none;
                @include textCenterAlign;
                position: relative;

                &.active {
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        height: 4px;
                        background-color: $secondary-cl;
                        display: block;
                        width: 100%;
                    }
                }
            }
        }
    }

    &-cart-section {
        position: relative;
        order: 3;

        .cart-icon {
            font-size: 20px;
        }

        span {
            position: absolute;
            top: -9px;
            right: -9px;
            background: $primary-cl;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: size(xx-small);
        }
    }
}

.prod-banner {
    width: 100%;
    height: 300px;
    display: flex;

    &-left {
        background: $primary-cl;
        width: 35%;
        height: 100%;
        font-family: $secondary-font-family;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: size(xx-large) + 6;
            text-align: center;
        }

        .divider {
            width: 100px;
            height: 8px;
            background: $primary-brand-cl;
            display: block;
            margin: 15px auto 0;
        }
    }

    &-right {
        width: 65%;
        height: 100%;
        background: #f3f3f3;
        order: 2;
    }
}

.line-break {
    display: block;
}

.img-responsive {
    max-width: 100%;
}

.product-section-main {
    width: 100%;
    display: block;
    clear: both;
    overflow: hidden;
}

.product-left {
    width: 25%;
    padding: 20px 20px 0 20px;
    float: left;

    .categories {
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;
        padding-bottom: 14px;
    }

    .checkbox-row {
        margin-bottom: 8px;
    }
}

.product-right {
    width: 75%;
    padding: 20px 0 0;
    float: left;
}

#product-container {
    overflow: hidden;

    .product-col {
        width: 33.33%;
        float: left;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .prod-img {
        padding: 0 10px;
        margin-bottom: 20px;
        text-align: center;

        img {
            object-fit: contain;
            height: 250px;
        }
    }

    .prod-name {
        font-size: size(regular);
        font-weight: weight(bold);
        margin-bottom: 7px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
    }

    .prod-price {
        margin-bottom: 7px;
    }
}

#loading-spinner {
    background: #fff;
    position: absolute;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;

    .spinner {
        width: 50px;
        height: 50px;
        border: 8px solid #f3f3f3;
        border-radius: 100%;
        border-top: 8px solid $primary-brand-cl;
        animation: spinner 1s linear infinite;
        display: block;
    }
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.product-contain {
    border: 1px solid #f3f3f3;
    padding: 10px;
    height: 365px;
    margin-bottom: 20px;
}

#load-more-btn {
    display: block;
    text-align: center;

    button {
        background: $primary-brand-cl;
        border: 1px solid #f3f3f3;
        padding: 10px 20px;
        color: $secondary-cl;
        border-radius: 5px;
        margin-bottom: 20px;
        cursor: pointer;
    }
}

.breadcrumbs {
    ul {
        display: flex;
        @include ulRemoveStyle;
    }

    li {
        padding-right: 5px;
    }

    a {
        text-decoration: none;
        color: $primary-cl;
    }
}

.prod-result {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 15px;
    padding: 0 10px;

    .total-result {
        font-weight: bold;
    }

    .drop-down-wrap {
        display: flex;
    }

    .search-wrap {
        margin-right: 10px;
    }
}

.form-control {
    width: 100%;
    border: 1px solid #B5B7BC;
    border-radius: 3px;
    height: 35px;
    padding: 7px;
    box-sizing: border-box;
}

.footer-top {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    .footer-inner {
        display: flex;
    }

    .footer-col {
        width: 25%;
        margin: 20px 0 15px;

        h4 {
            margin: 0 0 10px;
        }

        ul {
            @include ulRemoveStyle;
        }

        li {
            padding-bottom: 3px;
        }

        a {
            text-decoration: none;
            color: #545D63;
        }
    }

    .social-media {
        @include ulRemoveStyle;
        display: flex;

        li {
            padding: 0 10px;
        }
    }
}

.footer-info {
    padding: 15px 0;

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-cont {
        a {
            text-decoration: none;
            color: $primary-cl;
            font-size: 22px;
        }
    }

    &-col {
        ul {
            @include ulRemoveStyle;
            display: flex;
        }

        li {
            padding: 0 10px;
        }

        a {
            color: $primary-cl;
        }

        &:first-child{
            order:3;
        }
        &:nth-child(2){
            order: 2;
        }
    }

}